include AUTHORS COPYING README.md VERSION ChangeLog
include python/README.md
include this_version.py
include Makefile wscript */wscript_build
include waf waflib/* waflib/*/*
exclude waflib/__pycache__/*
include aubio.pc.in
include requirements.txt
include src/*.c src/*.h
include src/*/*.c src/*/*.h
include examples/*.c examples/*.h
include tests/*.h tests/*/*.c tests/*/*/*.c
include python/ext/*.h
recursive-include python *.py
include python/README.md
include python/tests/eval_pitch
include python/tests/*.expected
include doc/*.txt doc/*.rst doc/*.cfg doc/Makefile doc/make.bat doc/conf.py
exclude doc/full.cfg
include scripts/* scripts/apple/Info.plist scripts/apple/Modules/module.modulemap
exclude python/gen/*
