body {
	font-family: Sans-Serif;
	font-size: 1em;
	//background: url("aubioback-1-1.gif"); no-repeat bottom center;
	background-color: #999;
	color: #333;
	padding-right  : 10em;
	padding-left   : 10em;
	padding-top    : 2em;
	padding-bottom : 2em;
}

h1 {
	text-align: center;
	background-color: #888;
	border: 2px dashed black;
}

h2 {
	text-align: left;
	background-color: #AAA;
}

p {
	text-align: justify;
}
